.p {
  margin-bottom: 1em;
  width: 100%;
}

.center {
  text-align: center;
}

.primary {
  color: var(--primary);
}

.purple {
  color: var(--purple);
}

.cyan {
  color: var(--cyan);
}

.normal {
  font-size: 1em;
  font-weight: 400;
}

.big {
  font-size: 1.5em;
  font-weight: 500;
}
