.main {
  display: flex;
  flex-direction: row;
}

.main section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1;
}

.extension {
  min-height:  1em;
}

.listener_block {
  align-items: center;
}
