.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: calc(100vh - 100px);
}


.wrapper {
  max-width: 1280px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
